html {
    width: 100%;
    height: 100%
    
}


body {

    font: 300 14px/20px 'Open Sans', sans-serif;
    margin:0;
    padding-bottom:60px;
    height:100%;
    width:100%;    
}

.container {
	display:block;
	width: 100%;
	height:auto;
	background-color: #245dbc;
	text-align: center;
	
	}

.main-content{
	display:inline-block;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	padding-bottom: 60px;
	width: 87%;
	height:auto;
	background-color: #ffffff;
}
.product-display{
	display: inline-block;
	position: relative;
	overflow: hidden;
	margin-top: 20px;
	width: 95%;
	height: 450px;
	background-color: rgb(235, 247, 255);
	border: 3px solid black;
	border-radius: 15px;
	-moz-box-shadow: 0 0 9px gray;
	-webkit-box-shadow: 0 0 9px gray;
	box-shadow: 0 0 9px gray;
}

.column{
	position:relative;
	overflow: hidden;
	text-align: center;
	display: inline-block;
	float:left;
	width:25%;
	height:auto;
	padding-top:12px;
	margin-bottom: 0px;
}
.column img{
	position:relative;
	display:block;
	width: 80%;
	height:auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: 1px solid #d3d3d3;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 1px 0 gray;
	-webkit-box-shadow: 0 1px 1px 0 gray;
	box-shadow: 0 1px 1px 0 gray;
}
.prod-desc{
	position:relative;
	overflow: hidden;
	display:block;
	padding:0px;
	width: 80%;
	height:auto;
	margin-left: auto;
	margin-right: auto;
}

.prod-desc h1{
	font-size: 23px;
	color:#585858;
}
.prod-desc h2{
	font-size: 23px;
	color: #245dbc;
}
.promo-pitch{
	display: inline-block;
	position: relative;
	float:left;

	overflow: auto;
	margin-top: 5px;
	margin-bottom: 0px;
	padding: 0 60px 0 60px;
	font-size: 58px;
	width:auto;
	height:auto;
}
.promo-pitch p{
	line-height: 1em;
	margin:10px auto 35px auto;
}
 .blue-text {
 	color:#245dbc;
 	/*font-weight: bold;*/
 }
.customer-info{
	display:flex;
	position: relative;
	width:100%;
	height:auto;
	margin-top: 20px;
	padding: 0px;
}
.left-div{
	display:inline-block;
	position: relative;
	padding-top: 5%;
	width:30%;
	height:auto%;
}
.right-div{
	display:inline-block;
	position: relative;
	width:64%;
	height:100%;
}
input[type=email]{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    -moz-box-shadow: 0 1px 1px 0 gray;
	-webkit-box-shadow: 0 1px 1px 0 gray;
	box-shadow: 0 1px 1px 0 gray;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 80%;
    background: #fff;
    margin-bottom: 4%;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 2%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
    font-size: 24px;
}
input[type=text]{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    -moz-box-shadow: 0 1px 1px 0 gray;
	-webkit-box-shadow: 0 1px 1px 0 gray;
	box-shadow: 0 1px 1px 0 gray;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 40%;
    background: #fff;
    margin-bottom: 4%;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 2%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
    font-size: 24px;
}
input[name=firstname], input[name=lastname]{
	background-image:url(../images/user.ico);
	background-repeat:no-repeat;
	background-position: 97% 8px;
}
input[type=email]{
	background-image:url(../images/email.ico);
	background-repeat:no-repeat;
	background-position: 97% 8px;
}

form p{
	  display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    padding:0;
    font-size: 16px;
}
#action-call{
	display:block;
	position: relative;
	overflow: auto;
	padding-right: 10%;
	padding-left: 10%;
	color:red;
	line-height: 1.2em;
	font-size: 29px;
	font-weight: bold;
}
#input{
	display: block;
	width:100%;
	text-align: center;
}
input[type="submit"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 60%;
    padding: 2%;
    background: #245dbc;
    border-radius: 5px;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}
/*.footer{
	clear:both;
	width: 100%;
	height:60px;
	background-color: #cccccc;
}*/
/**Footer**/

.footer {
    display: block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    height: 60px;
    background-color: #cccccc;
    height: 60px;
}

.copyright {
    font-weight: normal;
    padding-top: 20px;
    float: left;
}

.copyright .brand {
    position: relative;
    top: -2px;
    font-weight: 300;
    font-size: 18px;
}

.copyright div {
    padding-top: 6px;
}

.copyright div a:hover {
    color: #535a5f;
}

.socials {
    float: right;
    color: #fff;
    margin-top: -4px;
    overflow: hidden;
}

.socials .fa {
    background-color: #ddd;
    font-size: 25px;
    float: left;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 500px;
    text-align: center;
}

.socials .fa:hover {
    color: #ddd;
    background-color: #303030;
}

.socials .fa +.fa {
    color: #ffffff;
    margin-left: 16px;
}
 .fa {
    color: white;
 }
.socials .fa.fa-pinterest {
    font-size: 30px;
}

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 40px;
    left: 51%;
    margin-left: 640px;
    overflow: hidden;
    width: 43px;
    height: 28px;
    border: none;
    text-indent: -999px;
    z-index: 20;
    background: url(../images/totop.png) no-repeat left 0; 
    transition: 0s ease;
    -o-transition: 0s ease;
    -webkit-transition: 0s ease;
}
#toTop:hover {
    outline: none;
    background-position: right 0;
}

@media screen and (max-width: 26rem) {
.container{
    display: block;
    width: 100%;
}
.product-display{
    display: inline-block;
    height: auto;
    width: 95%;
}
.column{
    float: none;
    display: block;
    width: auto;
}
.promo-pitch{
    float: none;
    font-size: 22px;
    display: inline-block;
    padding: 0 10px 0 10px;
}

.customer-info{
    display:block;
    position:relative;
    width:100%;
    margin-top: 0;
}
.left-div, .right-div{
    display:block;
    width:100%;
}
input[type=text], input[type=email]{
    display: inline-block;
    width: 90%;
    padding: 12px;
    font-size: 19px;
}
input[name=firstname], input[name=lastname], input[name=email]{
    background-image:none;
}
input[type=submit]{
    width: 90%;
    padding: 12px;
    font-size: 18px;
    -webkit-appearance: none;
}
}
