/*==================================CUSTOME LIST PAGE===============================================*/
.customers-container{
  display:block;
   width: 100%;
   height: 100%;
   margin-top: 0px;
   overflow: hidden;
}
.filename{
  display: none;
}
.left-panel{
  display:inline-block;
  position: relative;
  margin:0;
  width:25%;
  height:100%;
  overflow: hidden;
  background-color: #202020;
}
.right-panel{
  display: inline-block;
  margin:0;
  float:right;
  width:75%;
  height:100%;
  text-align: center;

}
.go-to-messaging{
  display: flex;
  width:100%;
  height: 6em;
  color:white;
  border-bottom: 1px solid gray;
  text-decoration: none;
}
.go-to-messaging:hover{
  cursor: pointer;
  opacity: .8;
}
.email-image{
  display:inline-flex;
  width:30%;
  height:100%;
  background-color: #101010;
  opacity: 1;
}
.email-text{
  display: inline-flex;
  width:70%;
  height: 100%;
}
.email-image img{
  margin: auto;

}
.email-text p{
  font-size: 18px;
  margin: auto;
 
    }

.above-table-div{
  display: inline-block;
  background-color: #f0f0f0;
  border: 1px solid #d0d0d0;
  border-radius: 7px;
  width:95%;
  height:auto;
  margin-top: 20px;
}
.search-download{
  display:inline-flex;
  border-bottom: 1px solid #d0d0d0;
  width:100%;
  padding:10px 0 10px 0;
}
.search-bar{
  display:inline-flex;
  width:70%;
  height:auto;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}
.searchbutton{
  display:inline-block;
  height:38px;
  width:3.5em;
  border: 1px solid #d0d0d0;
  border-right:0;
  margin: 1px 0;
  line-height: 38px;
  border-radius: 5px 0 0 5px;
}
.searchbutton:hover{
  cursor: pointer;
  opacity: .7;
}
#searchform{
  position: relative;
  display: table;
  border-collapse: separate;
  margin-top:auto;
  margin-bottom: auto;
  padding:5px;
  width:100%;
  height:auto;
}
.searchfield{
  width:75%;
  height:38px;
  margin:1px 0 !important; 
  border-style: solid;
  border:1px solid #d0d0d0;
  padding:5px;
  line-height: inherit;
  border-radius: 0 5px 5px 0 !important;
  -webkit-appearance:none;
}

input[name="q"]{
  padding:0 0 0 15px;

}
.download{
  display:inline-flex;
  width:30%;
  height:auto;
  margin-left: auto;
  margin-right: auto;
}
.downloadbutton{
  display:inline-block;
  width:70%;
  height:38px;
  line-height: 38px;
  color:#585858;
  border:1px solid #d0d0d0;
  border-radius: 5px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration: none;
}
.downloadbutton:hover{
  cursor: pointer;
  opacity: .7;
}
.fa-download{
  padding-right: 5px;
  color:#585858;
}
#search-form{
  display:block;

}
.contacts_total{
  display:inline-block;
  width:100%;
  height:auto;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}
.responsive-table{
  padding: 10px 0 20px 0;
}
.table-header {
  background-color: #adc2eb;
  color: white;
  border-radius: 7px 7px 0 0;
  font-size: 1.5em;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}


.table-users {
  display:inline-block;
  border: 1px solid #d0d0d0;
  border-radius: 7px;
  float:right;
  margin: 15px 20px 0 0;
  width: 95%;
}

table {
  width: 100%;
}
table td, table th {
  color: #2b686e;
  padding: 10px;
}
table td {
  text-align: center;
  vertical-align: middle;
}

table th {
  background-color: #f0f0f0;
  font-weight: 300;
}
table tr:nth-child(2n) {
  background-color: white;
}
table tr:nth-child(2n+1) {
  background-color: #f0f0f0;
}
table tr:last-child{
  border-radius: 0 0 7px 7px;
}
.blue{
  color:#245dbc;
}
.list-pagination{
 display:inline-block;
  width:100%;
  height:40px;
  text-align: center;
  margin-top:20px;
  color:#585858;
}
.next, .last, .paginate-first, .paginate-previous {
  width:5em;
  height: 2em;
  text-decoration: none;
  color:#585858;
  margin:0;
  padding:0;
}
@media screen and (max-width: 700px) {
  table, tr, td {
    display: block;
  }

  td:first-child {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100px;
  }
  td:not(:first-child) {
    clear: both;
    margin-left: 100px;
    padding: 4px 20px 4px 90px;
    position: relative;
    text-align: left;
  }
  td:not(:first-child):before {
    color: #91ced4;
    content: '';
    display: block;
    left: 0;
    position: absolute;
  }
  td:nth-child(2):before {
    content: 'Name:';
  }
  td:nth-child(3):before {
    content: 'Email:';
  }
  td:nth-child(4):before {
    content: 'Phone:';
  }
  td:nth-child(5):before {
    content: 'Comments:';
  }

  tr {
    padding: 10px 0;
    position: relative;
  }
  tr:first-child {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .table-header {
    background-color: transparent;
    color: white;
    font-size: 2em;
    font-weight: 700;
    padding: 0;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  }

  img {
    border: 3px solid;
    border-color: #daeff1;
    height: 100px;
    margin: 0.5rem 0;
    width: 100px;
  }

  td:first-child {
    background-color: #c8e7ea;
    border-bottom: 1px solid #91ced4;
    border-radius: 10px 10px 0 0;
    position: relative;
    top: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    width: 100%;
  }
  td:not(:first-child) {
    margin: 0;
    padding: 5px 1em;
    width: 100%;
  }
  td:not(:first-child):before {
    font-size: .8em;
    padding-top: 0.3em;
    position: relative;
  }
  td:last-child {
    padding-bottom: 1rem !important;
  }

  tr {
    background-color: white !important;
    border: 1px solid #6cbec6;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    margin: 0.5rem 0;
    padding: 0;
  }

  .table-users {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    overflow: visible;
  }
}