body{
	height: calc(100% + 600px);
}

.messaging-container{
  display:inline-block;
   width: 100%;
   height: 100%;
   margin-top: 0px;
   overflow: hidden;
   font-size: 14px;
}
.messaging-form {
  display:block;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  border-radius: 7px;
  color:#585858;
  font-weight: bold;
  padding:0;
  margin: 15px auto 0 auto;
  width: 80%;
}

.messaging-form-header {
  background-color: #adc2eb;
  color: white;
  font-size: 1.5em;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.filters{
	display:block;
	position:relative;
	width:100%;
	height:auto;
	padding:0px;
	border-bottom: 1px solid #d0d0d0;
}
.subject-line{
	display:block;
	width:100%;
	border-bottom: 1px solid #d0d0d0;
	height: auto;
	text-align: center;
	padding:30px 0 30px 0;
}
.right-filter-panel{
	display:inline-block;
	width: 49%;
	height:auto;
	margin:0;
	padding-bottom:3%;
}
.left-filter-panel{
	display:inline-block;
	width: 49%;
	height:auto;
	margin:0;
	padding-bottom: 3%;
}
.sendto-filter{
	display:block;
	margin:auto;
	width:65%;
	height: auto;
}
.date-promo-filter{
	display:block;
	margin:auto;
	width:65%;
	height: auto;
}
.by-promotion-filter{
	padding: 10px 0 10px 15px;
	border: 1px solid #d0d0d0;
}
#promo-code-message{
	color: gray;
	font-size: .9em;
}
.message{
	display:block;
	width: 100%;
	height: 25em;
	padding: 30px 0 30px 0;
	text-align: center;
}

.submit{
	display: block;
	width: 100%;
	height:auto;
	padding:30px 0 30px 0;
	text-align: center;
}
input, select, textarea{
	font-size: 16px !important;
}
input[id="date-from-picker"], input[id="date-to-picker"], input[id="promo-code-input"]{
	  -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 79%;
    background: #fff;
    margin-top: 8px;
    margin-bottom: 4%;
    border: 1px solid #989898;
    border-radius: 5px !important;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}
select[id="message-input"]{
	  -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 60%;
    background: #fff;
    margin-top: 8px;
    margin-bottom: 4%;
    border: 1px solid #989898;
    border-radius: 5px !important;
    padding: 1%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}
select[id="subject-input"]{
	  -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 60%;
    background: #fff;
    margin-top: 8px;
    margin-bottom: 4%;
    border: 1px solid #989898;
    border-radius: 5px !important;
    padding: 1%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}
select{
	margin-top: 8px;
	margin-bottom: 8px;
	width:79%;
	padding:2%;
	border: 1px solid #989898;
    border-radius: 5px !important;
}
button{
	width:15%;
	height:3em;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px !important;
	color: white;
	background-color: #245dbc;
    border: 1px solid #989898;
    padding:1%;
    line-height: inherit;
}
button:hover{
	cursor: pointer;
	opacity: .7;
}


input[type='checkbox']{
	-webkit-appearance: checkbox !important;
}
