.responsive-table{
  padding: 10px 0 20px 0;
}
.table-header {
  background-color: #adc2eb;
  color: white;
  font-size: 1.5em;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}


.table-users {
  display:block;
  overflow: hidden;
  border: 1px solid #245dbc;
  border-radius: 7px;
  margin: 20px auto 30px auto;
  width: 80%;
}

table {
  width: 100%;
}
table td, table th {
  color: #2b686e;
  padding: 10px;
}
table td {
  text-align: center;
  vertical-align: middle;
}

table th {
  background-color: #f0f0f0;
  font-weight: 300;
}
table tr:nth-child(2n) {
  background-color: white;
}
table tr:nth-child(2n+1) {
  background-color: #f0f0f0;
}

.message-header{
  display: block;
  width: calc(80% - 30px);
  height:auto;
  background-color: #adc2eb;
  border-radius:7px 7px 0 0;
  margin: 20px auto 0px auto;
  padding:30px;
  color: white;
  font-size: 1.5em;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.message-body {
  display:block;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 0 0 7px 7px;
  color:#585858;
  font-weight: bold;
  padding:30px;
  margin: 0px auto 30px auto;
  width: calc(80% - 60px);
}
#mail_header_logo{
  display:block;
  margin:20px auto 20px auto;
}
.message-action{
 display: block;
  width: calc(80% - 30px);
  padding:30px;
  height:auto;
   margin: 0px auto 150px auto;
  text-align: center;
}

pre{
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word; 
}
#send-email-button, #edit-email-button{
  display: inline-block;
  width:33%;
  height:3em;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px !important;
  color: white;
  background-color: #245dbc;
    border: 1px solid #989898;
    margin: 2%;
    padding:2%;
    line-height: inherit;
}
#send-email-button:hover, #edit-email-button:hover{
  cursor: pointer;
  opacity: .7;
}
#edit-email-form, #send-email-form{
  display:inline-block !important;
  width:45%;
  height:auto;
}
#message-file{
  display:none;
}