@import "grid.css";

@import "superfish.css";

@import url(//fonts.googleapis.com/css?family=Economica:400);
@import url(//fonts.googleapis.com/css?family=Economica:700);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400);
@import url(//fonts.googleapis.com/css?family=Open+Sans:300);
@import url(//fonts.googleapis.com/css?family=Open+Sans:600);
@import url(//fonts.googleapis.com/css?family=Open+Sans:700);


@import url(//fonts.googleapis.com/css?family=Dosis);

html {
    width: 100%;
    height: 100%;
}


body {
    position: relative;
    background-color: #fff;
    color: #969696;
    font: 300 14px/20px 'Open Sans', sans-serif;
    height: calc(100% + 100px);
}

input, textarea {
    border-radius: 0 !important;
    outline: none !important;
    -webkit-appearance: none;

}


img {
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #535151;
    font-family: 'Economica', sans-serif;
}

h2 {
    font-size: 36px;
    line-height: 48px;
    padding-top: 38px;
    margin-bottom: 14px;
}

.page1 h2 {
    padding-top: 31px;
    margin-bottom: 39px;
}
/* Buttons */


.btn {
    display: inline-block;
    border: 1px solid #969696;
    color: #969696;
    margin-top: 24px;
    padding: 5px 32px 11px;
    font: bold 20px/20px 'Economica', sans-serif;
}

.btn:hover {
    color: #fff;
    border-color: #aaccaa;
    background-color: #aaccaa;
}

.img_inner {
    max-width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 15px;
    margin-top: 3px;
}

.inn__1 {
    border: 1px solid #f2f1f2;
}

.page1 .img_inner {
    margin-top: 7px;
}

/*header*/
header{
    display:block;
}
header #top-border{
    display: block;
    position: relative;
    z-index: 800;
    padding-top: 3px;
    background: url(../images/rainbow-border.png) repeat;
    background-size: 100% 1px;
}
header #header-main {
    display: block;
    position: relative;
    z-index: 900;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #245dbc;
    text-align: center;
}
header #header-main div{
    font-weight: bold;
    color: white;
    display: inline-block;
    width:31%;
    }
header a{
    color:white;

}
#header-left p{
    float: left;

}
#header-right p{
    float: right;
}
 #header-center p{
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
}

header .fa {
    background-color: #ddd;
    font-size: 12px;
    float: right;
    margin-right: 8px;
    line-height: 24px;
    width: 24px;
    height: 24px;
    border-radius: 500px;
    text-align: center;
}
header h1 {
    position: relative;
    text-align: center;
    z-index: 990;
    float: left;
}


header h1 a {
    display: inline-block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;    
    text-indent: -999px;
    transition: 0s ease;
    -o-transition: 0s ease;
    -webkit-transition: 0s ease;
}

header h1 a img {
    display: block;
}

header a #header_logo {
    padding-bottom: 10px;

}
#banner_logo{
    display: inline-block;
    margin-bottom: 10px;
}
/****Content****/

.content {
    padding-bottom: 114px;
    background-color: #fff;
}

.page1 .content {
    padding-bottom: 49px;
}

.block {
    display:inline-block;
    margin-top: 10px;
    width: 48%;
    
}

.intro-text h1{
    margin-bottom: 25px;
    font-size: 35px;
    font-weight: bold;

}

.intro-text{
    width: 100%;
    padding: 20px;
    margin-left: 40px;
    margin-top: 0px;
    font-size: 24px;
    line-height: 1.1em;
}

.intro-text p{
    margin-bottom: 1em;
}
/**Footer**/

#footer {
    display: block;
    padding: 20px 0 20px 0;
    color: #e2e2e2;
    font-size: 14px;
    line-height: 18px;
    background-color: #adacac;
    width: 100%
    height: auto;
    clear: both;
    margin-top: 0px;
}

.copyright {
    font-weight: normal;
    padding-top: 20px;
    float: left;
}

.copyright .brand {
    position: relative;
    top: -2px;
    font-weight: 300;
    font-size: 18px;
}

.copyright div {
    padding-top: 6px;
}

.copyright div a:hover {
    color: #535a5f;
}

.socials {
    float: right;
    color: #fff;
    margin-top: -4px;
    overflow: hidden;
}

.socials .fa {
    background-color: #ddd;
    font-size: 25px;
    float: left;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 500px;
    text-align: center;
}

.socials .fa:hover {
    color: #ddd;
    background-color: #303030;
}

.socials .fa +.fa {
    color: #ffffff;
    margin-left: 16px;
}
 .fa {
    color: white;
 }
.socials .fa.fa-pinterest {
    font-size: 30px;
}

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 40px;
    left: 51%;
    margin-left: 640px;
    overflow: hidden;
    width: 43px;
    height: 28px;
    border: none;
    text-indent: -999px;
    z-index: 20;
    background: url(../images/totop.png) no-repeat left 0; 
    transition: 0s ease;
    -o-transition: 0s ease;
    -webkit-transition: 0s ease;
}
#toTop:hover {
    outline: none;
    background-position: right 0;
}
.mail-sent-message{
    display: block;
    width:100%;
    height: 100vh;
    padding: 60px 0 0 0;
    color:black;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
.files-list{
    display: block;
    width:auto;
    height: 100vh;
    padding: 40px 0px 0 0px;
    margin-left: 20px;
    color:#585858;
    font-weight: bold;
    font-size: 18px;
}
.file-images{
    display: inline-block;
    width: 140px;
    height: 140px;
    padding: 10px;
    text-align: center;
    font-size: 12px;
}
.upload-form-container{
    display: block;
    width:auto;
    height: 100vh;
    padding: 40px 0px 0 0px;
    margin-left: 20px;
    color:#585858;
    font-weight: bold;
    font-size: 18px;
}
#upload-form{
    width: 75%;
    height:auto;
    padding:15px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #d0d0d0;
}
#upload-form button{
  display:inline-block;
  width:20%;
  height:38px;
  line-height: 38px;
  color:#585858;
  border:1px solid #d0d0d0;
  border-radius: 5px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration: none;
}
#upload-form p{
    display:inline-block;
    padding-left: 30px;
    height:38px;
    line-height: 38px;
}
.add-contacts-container{
    display: inline-block;
    width:100%;
    height: 100vh;
    padding: 20px 0px 0 0px;
    text-align: center;
    color:#585858;
    font-weight: bold;
    font-size: 14px;
}

.add-contacts-submit{
    width:100%;
    text-align: center;
    padding: 10px 0 10px 0;
    background-color: #f0f0f0;
    border-radius: 0 0 8px 8px;
}
.add-contacts-submit button{
  display:inline-block;
  width:20%;
  height:38px;
  line-height: 38px;
  color:#585858;
  border:1px solid #989898;
  background-color: #f0f0f0 !important;
  border-radius: 5px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration: none;
}
.add-contacts-submit button:hover{
  cursor: pointer;
  opacity: .7;
}
.add-table-header {
  background-color: #adc2eb;
  color: white;
  border-radius: 8px 8px 0 0;
  font-size: 1.5em;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}


.add-table-users {
  display:inline-block;
  border: 1px solid #989898;
  border-radius: 8px;
  margin: 15px 0px 0 0;
  width: 95%;
}
.add-table-users input{
  width:75%;
  height:20px;
  font-size: 18px;
  margin:1px 0 !important; 
  border-style: solid;
  border:1px solid #d0d0d0;
  padding:5px;
  line-height: inherit;
  border-radius: 5px !important;
  -webkit-appearance:none;
}
table {
  width: 100%;
}
table td, table th {
  color: #2b686e;
  padding: 10px;
}
table td {
  text-align: center;
  vertical-align: middle;
}

table th {
  background-color: #f0f0f0;
  font-weight: 300;
}
table tr:nth-child(2n) {
  background-color: white;
}
table tr:nth-child(2n+1) {
  background-color: #f0f0f0;
}

/*=====================================STUCK CONTAINER===============================================*/
#stuck_container {
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		z-index: 999 !important;
		background-color: #ffffff;
        padding-top: 15px;
}

.isStuck {
		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-ms-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		transition: all 0.2s ease;
}


.isStuck .menuBox {
	margin: 0;

	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

@media only screen and (max-width: 979px) {

	#stuck_container {
		position: relative !important;
		box-shadow: none;
		
	}
	.pseudoStickyBlock {
		height: 0 !important;
	}

	.isStuck {
	}
}


/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 1199px) {
   .extra_wrapper {
        overflow: visible;
    }

    .shed li {
        padding-left: 10px;
        text-align: center;
    }

    #bookingForm > strong + .controlHolder {
        float: none;
        width: 100%;
        padding-top: 4px;
        clear: both;
    }

    .fl1 {
        width: 100%;
        margin: 0 !important;
        float: none !important;
    }

    .tmSelect.auto, .tmSelect2.auto {
        width: 200px;
    }

    .clear.height1 {
        height: 10px !important;
    } 
}
@media only screen and (max-width: 979px) {

    .fleft {
        margin-right: 10px;
    }

    .blog table td:first-child {
        width: 185px;
    }

    .tmSelect.auto, .tmSelect2.auto {
        width: 150px;
    }

    .bq1 {

        padding-top: 30px;
    }

    .address1 {
        float: none;
    }

    .address1 +.address1  {
        margin-left: 0;
        margin-top: 30px;
    }
    
     .map figure,  
     .map figure iframe,  
     #form input,
     #form textarea,  
     #form .success {
        width: 100% !important;
        float: none !important;
    }
     #form .success {
         -moz-box-sizing: border-box;
         -webkit-box-sizing: border-box;
         -o-box-sizing: border-box;
         box-sizing: border-box;
    }

     .map figure {
     height: auto !important;
    }

    .map figure {
    	margin-bottom: 15px;
    }

    .nowrap {
        white-space: normal;
    }


    .address1 dd span  {
        min-width: 0;
    }
}

@media only screen and (max-width: 767px) {
  
    .banner>img {
        width: 100%;
    }
    .tmSelect.auto, .tmSelect2.auto {
        width: 340px;
    }

    .sep__1 {
        height: 0;
    }

    .gall_block {
        margin-bottom: 35px;
    }

    .img_inner img {
    	width: 100%;
    }

    .img_inner {
        margin-top: 40px !important;
        width: 100% !important;
        float: none !important;
        margin-right: 0 !important;
        margin-bottom: 20px !important;
    }

    .box  {
        padding-left: 20px;
        padding-right: 20px;
    }

    .box div {
        margin: 0 !important;
        width: auto;
    }


    header h1 {
        padding-top: 15px;
        position: relative !important;
        margin-bottom: 20px;
        padding-left: 0;
        float: none;
        left: 0;
        text-align: center;
    }

    header h1 a {
        max-width: 90%;
        width: auto;
        display: inline-block;
        height: auto;
    }

    .map figure iframe {
        height: 300px;
    }

    .content .noresize {
        width: auto !important;
        float: left !important;
        margin-right: 20px !important;
        margin-top: 4px !important;
    }

    .img_inner {
        margin-top: 30px;
    }
    .none {
        clear: both;
    }

    .socials {
        float: none;
        padding-bottom: 20px;
    }
}


@media only screen and (max-width: 479px) {
    

    .tmSelect.auto, .tmSelect2.auto {
        width: 180px;
    } 

    .blog table {
    } 

    .blog table td:first-child  .fa {
        display: block;
    }

    .blog table td:first-child {
        width: auto;
    }
}
