body{
	width:100%;
	height:100%;
	margin:0;
	background-color: #f2f2f2;
	padding-bottom: 40px;
	font-family: 'Open Sans', sans-serif !important;
	}
a{
	color:#245dbc;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
}
.header{
	width:100%;
	height:100px;
	background-color: #e6e6e6;
	text-align: center;
	padding: 15px 0px 15px 0px;
}

.header img{
	position: relative;
	margin-top: 10px;
	margin-left:auto;
	margin-right:auto;
}
.promo-code{
	display: block;
	width:55%;
	height:auto;
	margin-left:auto;
	margin-right: auto;
	background-color: #ffffff;
	padding:30px;
	text-align: center;
}
.lead{
	display:block;
	width:100%;
	height:auto;
}
.lead p{
	color:rgb(62, 137, 72);
	font-size: 32px;
	font-weight: bold;
	line-height: 1.3em;
	margin:0;
}
.promo-body{
	color:rgba(47, 47, 47, 0.721569);
	font-size: 18px;
	line-height: 1.3em;
	padding: 0 40px 0 40px;
}


.action-steps{
	display:flex;
	width:100%;
	height: auto;
	font-size: 18px;
}
.step h1{
	font-size: 32px;
}
.step p{
	margin:10px 0 0 0;
}
.step{
	display:inline-block;
	position:relative;
	width:33%;
	height:auto;
}
.bold{
	font-weight: bold;
}
.red{
	color: red;
	font-weight: bold;
}
.footer{
	height:40px;
	padding-top: 25px;
	text-align: center;
	color:#585858;
}

@media screen and (max-width: 26rem){
    .promo-code{
       width: 100%;
}

}
