
.navigation  {
	
	position: relative;
	display:inline-block;
	margin-left: 45px;
	padding-top: 44px;
	
}

.select-menu {
	display: none !important;
}

.navigation .sf-menu {
	z-index: 990;
	text-align: left;
	position: relative;
}

nav {
	 position:relative;
	 padding: 0;
	 font-family: 'Economica', sans-serif;
}

.sf-menu ul {
	position:absolute;
	top:-999px; 
	display:none;
}

.sf-menu>li>ul>li {
  	float: none;
  	position: static;
}

.sf-menu>li+li {
	margin-left: 40px;
}

.sf-menu>li {
	position: relative;
	font-size: 18px;
	float: left;
	line-height: 22px;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.sf-menu>li>a{
	position: relative;
	color: #727171; 
	font-weight: bold;
	display: block;
	text-align: center;
}

.sf-menu>li.sfHover>a, .sf-menu>li.current>a, .sf-menu>li>a:hover {
	color: #aaccaa;
}
 
.sf-menu>li>ul>li>a.sf-with-ul:after {
	content: '';
    font-family: 'FontAwesome';
	position: absolute;
	width: 5px;
	font-size: 13px;
	line-height: 13px;
	font-weight: normal;
	right: 20px;
	color: #fff;
	bottom: 11px;
	pointer-events: none;
	z-index: 999;
}

.sf-menu>li>a.sf-with-ul:after {	
	content: '';
	position: absolute;
	width: 5px;
	left: 50%;
	margin-left: -3px;
	bottom: 15px;
	color: #fff;
	pointer-events: none;
	z-index: 999;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 3px 3px 0 3px;
	border-color: #fff transparent transparent transparent;
}


/*================================>> 2 Level <<========================================*/
.sf-menu>li ul {
	left: 0;
	z-index: 999; 
	width: 100%;
	background-color: #343434;
	top: 55px;
	padding-bottom: 1px;
	background: #1f1714 url(../images/sub_bg.png) 0 0 repeat-x;
}



.sf-menu li ul li {
	position: relative;
	padding-top: 2px;
	float: none !important;
	background: url(../images/sub_sep.png) 0 0 repeat-x;
}


.sf-menu li ul li a{
	position: static;
	font-size: 11px;
	line-height: 30px;
	padding: 5px 20px 3px;
	display: block;
	z-index: 999;
	color: #fff;	
	font-weight: 300;
}


.sf-menu li li a:hover, 
.sf-menu li.sfHover li.sfHover>a {  
	background-color: #120d0c;
}

/*================================>> 3 Level <<========================================*/
.sf-menu>li ul li ul{
	position: absolute;
	left: 100%;
	width: 157px;
	top: -40px;
}



.sf-menu li ul ul li a {
	display: block;
}

.sf-menu li ul ul li a:hover {
	background-color: #191210;
}


/*==================================RESPONSIVE LAYOUTS===============================================*/


@media only screen and (max-width: 995px) {

		.sf-menu>li>a {
		}
}

@media only screen and (max-width: 767px) {
	.navigation {
		float: none !important;
		padding: 10px 0 20px !important;
		clear: both;
		margin: 0;
		min-height: 0px;
	}



  .navigation  nav{
  	border: none !important;
		float:none !important;
		font:12px/15px Arial, Helvetica, sans-serif;
		text-transform:uppercase;
		color:#927c67;
		margin: 0 auto;
		padding-left: 0 !important;
		
	
	}


	

  header nav ul {
  	border: none;
  }

	.sf-menu{display:none !important; float: none;}

	.select-menu {
		font:12px/15px Arial, Helvetica, sans-serif;
		color:#202020;
		width:100%;
		margin: 0 auto;
		float: none;
	    outline: none;
	    display: block !important;
		border:2px solid #333;
		border-radius: 0 !important;
	}
	
	
}
