{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Add{% endblock %}
{% block content %}

<head>
<meta charset="utf-8">
</head>
  <section id="stuck_container">
    <div class="container">
      <div class="row">
        <div class="grid_12">
        <div id="banner_logo">
          <a href="{% url 'home' %}">
            <img src="{% static 'brainwaves/images/BrainWaves_BannerLogo2blue.png' %}" alt="Logo alt" id="header_logo">
          </a>
        </div>  
          <div class="navigation">
            <nav>
               <ul class="sf-menu">
               <li class="current"><a href="{% url 'home' %}">Home</a></li>
               <li><a href="{% url 'contacts' %}">Contacts</a></li>
               <li><a href="{% url 'messaging' %}">Messaging</a></li>
               <li><a href="{% url 'files' %}">Files</a></li>
               <li><a href="{% url 'upload' %}">Upload</a></li>
               <li><a href="{% url 'add-contacts' %}">Add Contacts</a></li>
             </ul>
            </nav>        
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </section> 
<div class="add-contacts-container">
  <div class="save-confirmation"></div>
    <div class="add-table-users">
    <div class="add-table-header">Add Contacts</div>
   
   <table cellspacing="0">
      <tr>
         <th>First Name</th>
         <th>Last Name</th>
         <th>Email</th>
         <th>Promotion</th>
         <th>Promo Code</th>
      </tr>
  
      <tr>
         <td><input type="text" id="firstname-input" ></td>
         <td><input type="text" id="lastname-input" ></td>
         <td><input type="text" id="email-input" ></td>
         <td><input type="text" id="promotion-input" ></td>
         <td><input type="text" id="promotion-code-input" ></td>
      </tr>

   </table>
      <div class="add-contacts-submit">
        <button type="submit" id="add-contact-button">ADD CONTACT</button>
      </div>
</div>
</div>
<script type="text/javascript">
	$('#header-center p').text('Add Contacts');
</script>
{% endblock %}