{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Contacts{% endblock %}
{% block content %}

<head>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'brainwaves/css/customer-table.css' %}">
</head>
<div class="customers-container">
<div class="left-panel">
	<a href="{% url 'home' %}" class="go-to-messaging">
			<div class="email-image"><img src="{% static 'brainwaves/images/home.ico' %}" id="email-icon"></div>
			<div class="email-text"><p>HOME</p></div>
	</a>
	<a href="{% url 'messaging' %}" class="go-to-messaging">
			<div class="email-image"><img src="{% static 'brainwaves/images/email.ico' %}" id="email-icon"></div>
			<div class="email-text"><p>SEND EMAIL</p></div>
	</a>
	<a href="{% url 'upload' %}" class="go-to-messaging">
			<div class="email-image"><img src="{% static 'brainwaves/images/file-upload.ico' %}" id="email-icon"></div>
			<div class="email-text"><p>UPLOAD FILES</p></div>
	</a>
	<a href="{% url 'add-contacts' %}" class="go-to-messaging">
			<div class="email-image"><img src="{% static 'brainwaves/images/add-contact3.ico' %}" id="email-icon"></div>
			<div class="email-text"><p>ADD CONTACTS</p></div>
	</a>
	<a href="{% url 'promotion' %}" class="go-to-messaging">
			<div class="email-image"><img src="{% static 'brainwaves/images/promo.ico' %}" id="email-icon"></div>
			<div class="email-text"><p>PROMOTION</p></div>
	</a>
</div>
	

<div class ="right-panel">
	<div class="filename">{{filename}}</div>
	<div class="above-table-div">
		<div class="search-download">
			<div class="search-bar">
			<form id="searchform" action="#" accept-charset="utf-8">
			<div class="searchbutton" type="submit">
  			<i class="fa fa-search fa-lg"></i>
			</div>
			<input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search contacts by name or email..." required>
			</form>
			</div>
		<div class="download"><a href="{% url 'download'  %}?filename={{filename}}" class="downloadbutton"><i class="fa fa-download fa-lg"></i>Download Contacts</a></div>
		</div>
		<div class="contacts_total">Total Contacts:<span class="blue">  {{contacts_total}}</span></div>
  		
  	</div>
  	<div class="responsive-table">
{% include "customers/responsive-table.html" %}
	</div>
</div>  
  </div>

<script type="text/javascript">
	$('#header-center p').text('Contacts');
</script>
{% endblock %}