{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Files{% endblock %}
{% block content %}

<head>
<meta charset="utf-8">
</head>
  <section id="stuck_container">
    <div class="container">
      <div class="row">
        <div class="grid_12">
        <div id="banner_logo">
          <a href="{% url 'home' %}">
            <img src="{% static 'brainwaves/images/BrainWaves_BannerLogo2blue.png' %}" alt="Logo alt" id="header_logo">
          </a>
        </div>  
          <div class="navigation">
            <nav>
               <ul class="sf-menu">
               <li class="current"><a href="{% url 'home' %}">Home</a></li>
               <li><a href="{% url 'contacts' %}">Contacts</a></li>
               <li><a href="{% url 'messaging' %}">Messaging</a></li>
               <li><a href="{% url 'files' %}">Files</a></li>
               <li><a href="{% url 'upload' %}">Upload</a></li>
               <li><a href="{% url 'add-contacts' %}">Add Contacts</a></li>
             </ul>
            </nav>        
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </section> 
<div class="files-list">
  {% for each in files %}
  <div class="file-images">
	
          <a href="">
            <img src="{% static 'brainwaves/images/document-icon.png' %}" alt="Logo alt" id="file-image">
          </a>
          <p class="file-name">{{each}}</p>
    </div>
  {% endfor %}

</div>
<script type="text/javascript">
	$('#header-center p').text('Files');
</script>
{% endblock %}