<!DOCTYPE html>
<html lang="en">

<head>
<title>Email Verification</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
<style type="text/css">
    /* CLIENT-SPECIFIC STYLES */
    @import url('https://fonts.googleapis.com/css?family=Montserrat');
    body, table, td, a{-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;} /* Prevent WebKit and Windows mobile changing default text sizes */
    table, td{mso-table-lspace: 0pt; mso-table-rspace: 0pt;} /* Remove spacing between tables in Outlook 2007 and up */
    img{-ms-interpolation-mode: bicubic;} /* Allow smoother rendering of resized image in Internet Explorer */

    /* RESET STYLES */


    /* iOS BLUE LINKS */
    a[x-apple-data-detectors] {
        color: inherit !important;
        text-decoration: none !important;
        font-size: inherit !important;
        font-family: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
    }

.message-body {
  display:block;
  font-family:'Open Sans', sans-serif !important;
  font-size: 16px;
  line-height: 1.3em;
  overflow: hidden;
  background-color: #fff;
  color:black;
  padding:3%;
  margin: 0px auto 30px auto;
  width: 95%;
}
#mail_header_logo{
  display:block;
  margin:0px auto 50px auto;
}

</style>
</head>
<body>
<div class="message-body">
      <img src="https://s3-us-west-2.amazonaws.com/staticbrainwaves/brainwaves/images/BrainWaves_BannerLogo2blue.png" alt="Logo alt" id="mail_header_logo">
    <p>Dear {{name}},</p>

      <p>Your order should be shipped to you shortly.</p>

      <p>When you receive your item, please make sure to verify that it was not damaged in transit. If there is any reason that you wouldn’t rate this as a 5-star experience, please let us know. If everything looks fine, we would appreciate if you could take a few seconds to click the link below and rate this transaction.</p>

      <p><a href="http://www.amazon.com/feedback">Seller Feedback Link</a></p>

      <p>We have spent a long time creating the BrainWaves Nerf Tactical Vest and would love to know what you think of it.</p>

      <p>Some things that may help you enjoy the product better:<br><br>
      1.  The side straps can be adjusted to fit differnt body sizes.<br>
      2.  The glow-in-the-dark darts work best when they sit in a well lit area before using in the dark.<br></p>

      <p>We will follow up with you shortly to make sure that you are happy with your purchase, but in the meantime don’t hesitate to reach out to us if you need anything!</p>

      <p>Thanks again!</p>
      <p>Sincerely,</p>
      <p>Jennifer,<br>
      BrainWaves Toys</p>
 
   </div>
</body>
</html>
