{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Messaging{% endblock %}
{% block content %}


<head>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'brainwaves/css/messaging.css' %}">
<link rel="stylesheet" href="{% static 'brainwaves/css/message-confirmation.css' %}">
<link rel="stylesheet" href="{% static 'brainwaves/css/pikaday.css' %}">
<link rel="stylesheet" href="{% static 'brainwaves/css/theme.css' %}">
<script src="{% static 'brainwaves/js/pikaday.js' %}"></script>
</head>
<section id="stuck_container">
    <div class="container">
      <div class="row">
        <div class="grid_12">
        <div id="banner_logo">
          <a href="{% url 'home' %}">
            <img src="{% static 'brainwaves/images/BrainWaves_BannerLogo2blue.png' %}" alt="Logo alt" id="header_logo">
          </a>
        </div>  
          <div class="navigation">
            <nav>
               <ul class="sf-menu">
               <li class="current"><a href="{% url 'home' %}">Home</a></li>
               <li><a href="{% url 'contacts' %}">Contacts</a></li>
               <li><a href="{% url 'messaging' %}">Messaging</a></li>
               <li><a href="{% url 'files' %}">Files</a></li>
               <li><a href="{% url 'upload' %}">Upload</a></li>
               <li><a href="{% url 'add-contacts' %}">Add Contacts</a></li>
             </ul>
            </nav>        
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </section> 
<div class="messaging-container">
<div class="messaging-form">
	<div class="messaging-form-header">Compose Message Form</div><br>
<section class ="filters">
		<div class="left-filter-panel">
		<div class="sendto-filter">
			<div class="sendto-row">
                    <label for="sendto-dropdown">Send To:</label><br>
                        <select  name="sendto-dropdown" id="sendto-dropdown">
                            <option>Customize by Filters</option>
                            <option>All Contacts</option>
                        </select><br>
                    
                </div>
            <div class="by-name-filter">
			<div class="by-name-row">
                    <label for="name-dropdown">Filter by name:</label><br>
                        <select multiple size="4" name="name-dropdown" id="name-dropdown">
                            {% for each in names %}
                            <option>{{each.lastname}}, {{each.firstname}}</option>
                            {% endfor %}
                        </select><br>
                </div>
                
			</div>
			 <div class="by-email-filter">
			 	
			<div class="by-email-row">
                    <label for="email-dropdown">Filter by email:</label><br>
                        <select multiple size="4" name="email-dropdown" id="email-dropdown">
                            {% for email in emails %}
                            <option>{{email}}</option>
                             {% endfor %}
                        </select><br>
                </div>
               
			</div>
			
	</div>
</div>
	<div class="right-filter-panel">
		<div class="date-promo-filter">
		<div class="date-filter">
			<form id="searchform" action="#" accept-charset="utf-8">
			<div class="date-from">
				<label for="datepicker">Date From:</label><br>
    			<input type="text" id="date-from-picker" placeholder="Leave blank for all dates...">
			</div>
			<div class="date-to">
				<label for="datepicker">Date To:</label><br>
    			<input type="text" id="date-to-picker" placeholder="Leave blank for all dates...">
			</div>
			</form>
		</div>
		<div class="by-promotion-filter">
			<div class="by-promotion-row">
                    <label for="promotion-dropdown">Filter contatcts by promotion:</label><br>
                        <select multiple size="1" name="promotion-dropdown" id="promotion-dropdown">
                            {% for promotion in promotions %}
                            <option>{{promotion}}</option>
                            {% endfor %}
                        </select><br>
                </div>
                <div class="by-ifcodegiven-row">
                	<input class="checkbox" type="checkbox" id="noCodeGivenButton" value="No Code Given">
                    <label for="noCodeGivenButton">No Code Given</label><br>
                    <input class="checkbox" type="checkbox" id="codeGivenButton" value="Code Given">
                    <label for="codeGivenButton">Code Given</label><br>
                    <input class="checkbox" type="checkbox" id="allButton" value="All">
                    <label for="allButton">All</label><br>                       
                </div>
			</div>
			<div class="by-promo-code-filter">
			<div class="promo-code-row">
                <label for="promo-code-input">Filter by Promo Codes:</label><br>
                <p id="promo-code-message">***Separate values by commas***</p>
    			<input type="text" id="promo-code-input" >
                </div>
            </div>
			</div>
	</div>

</section>
<section class="subject-line">
	<div class="subject-div">
				<label for="subject-input">Subject:</label><br>
    			<select multiple size="3" name="subject-input" id="subject-input">
                            <option>Are you happy?</option>
                            <option>Are you satisfied?</option>
                            <option>What do you think?</option>
			    <option>Are you ready?</option> 
			    <option>Flash Sale!</option>
                        </select><br>
			</div>
			<div class="message-div">
				<label for="message-input">Message:</label><br>
    			<select multiple size="3" name="message-input" id="message-input">
                            <option>Just ordered message - Seller review</option>
                            <option>Order recieved - Product review</option>
                            <option>Thank you - Coupon giveaway</option>
                            <option>March Madness - Spring promo</option>
                        </select><br>
			</div>
</section>
<section class = "submit">
	<form id="submit-form" action="#" accept-charset="utf-8">
  	<button id="send-email" type="submit">Send Message Now</button>
  	</form><br>
</section>
</div>
</div>
<div class="mail-confirmation">
	

</div>
<script type="text/javascript">
	
	//Date picker
    var frompicker = new Pikaday(
    {
        field: document.getElementById('date-from-picker'),
        //theme: 'dark-theme',
        firstDay: 1,
        minDate: new Date(2015, 12, 31),
        maxDate: new Date(2020, 12, 31),
        yearRange: [2000,2020],
        

    }); 

        var topicker = new Pikaday(
    {
        field: document.getElementById('date-to-picker'),
        // theme: 'dark-theme',
        firstDay: 1,
        minDate: new Date(2015, 12, 31),
        maxDate: new Date(2020, 12, 31),
        yearRange: [2000,2020],
        

    });
// End Date picker
	$('#header-center p').text('Messaging');
</script>


{% endblock %}
