{% load staticfiles %}
<div class="table-users">
   	<div class="table-header">Contacts To Be Mailed</div>
   
   <table cellspacing="0">
      <tr>
         <th>Date</th>
         <th>First Name</th>
         <th>Last Name</th>
         <th>Email</th>
         <th>Promotion</th>
         <th>Promo Code</th>
      </tr>
	{% for row in message_contents.contacts %}
	
      <tr>
         <td>{{row.date}}</td>
         <td>{{row.firstname}}</td>
         <td>{{row.lastname}}</td>
         <td>{{row.email}}</td>
         <td>{{row.promotion}}</td>
         <td>{{row.promotion_code}}</td>
      </tr>
	{% endfor %}
   </table>
</div>
<div class="message-to-send">
   <div class="message-header">
      <p>Message To Be Sent</p>
   </div>
   <div class="message-body">
     <p>Subject: {{message_contents.subject}}</p>
      <br>   
      <br>
 
      <div class="message-template">
         
      </div>
 
   </div>
   <div class="message-action">
      <form id="edit-email-form" action="#" accept-charset="utf-8">
         <button id="edit-email-button" type="submit">Edit Message</button>
      </form>
      <form id="send-email-form" action="" accept-charset="utf-8">
         <button id="send-email-button" type="submit">Send Now</button>
      </form>
   </div>

</div>
<div id="message-file">{{message_contents.message_storage_file}}</div>
<script type="text/javascript">
   $('#header-center p').text('Confirm Message');
</script>