<!DOCTYPE html>
<html lang="en">

<head>
<title>Email Verification</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
<style type="text/css">
    /* CLIENT-SPECIFIC STYLES */
    @import url('https://fonts.googleapis.com/css?family=Montserrat');
    body, table, td, a{-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;} /* Prevent WebKit and Windows mobile changing default text sizes */
    table, td{mso-table-lspace: 0pt; mso-table-rspace: 0pt;} /* Remove spacing between tables in Outlook 2007 and up */
    img{-ms-interpolation-mode: bicubic;} /* Allow smoother rendering of resized image in Internet Explorer */

    /* RESET STYLES */


    /* iOS BLUE LINKS */
    a[x-apple-data-detectors] {
        color: inherit !important;
        text-decoration: none !important;
        font-size: inherit !important;
        font-family: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
    }

.message-body {
  display:block;
  font-family:'Open Sans', sans-serif !important;
  font-size: 16px;
  line-height: 1.3em;
  overflow: hidden;
  background-color: #fff;
  color:black;
  padding:3%;
  margin: 0px auto 30px auto;
  width: 95%;
}
#mail_header_logo{
  display:block;
  margin:0px auto 50px auto;
}

</style>
</head>
<body>
<div class="message-body">
      <img src="https://s3-us-west-2.amazonaws.com/staticbrainwaves/brainwaves/images/BrainWaves_BannerLogo2blue.png" alt="Logo alt" id="mail_header_logo">
    <p>Dear {{name}},</p>

      <p>It’s been a few weeks since you received your BrainWaves Nerf Tactical Vest. I just wanted to see if you have any questions or concerns about your vest. If you do, please do not hesitate to contact us.</p>

      <p>Furthermore, I hope you are truly loving our products and are happy with your purchase. As a small seller on Amazon, we are largely dependent on product reviews from wonderful customers such as yourself.</p>
     

      <p>If our product has met or exceeded your expectations, please help us spread the word by leaving a review. You can do so here:</p>
     
      <p><a href="https://www.amazon.com/review/create-review/ref=cm_cr_arp_d_wr_but_lft?ie=UTF8&channel=reviews-product&asin=B077KY7JC">Product Review Link</a></p>
      
      <p>Your unbiased honest feedback helps ensure we keep doing things right and encourages us to keep developing great products!</p>

      <p>Thanks again!</p>
      <p>Sincerely,</p>
      <p>Jennifer,<br>
      BrainWaves Toys</p>
 
   </div>
</body>
</html>