	<div class="table-users">
   	<div class="table-header">Contacts</div>
   
   <table cellspacing="0">
      <tr>
         <th>Date</th>
         <th>First Name</th>
         <th>Last Name</th>
         <th>Email</th>
         <th>Promotion</th>
         <th>Promo Code</th>
      </tr>
	{% for row in contacts %}
	
      <tr>
         <td>{{row.date}}</td>
         <td>{{row.firstname}}</td>
         <td>{{row.lastname}}</td>
         <td>{{row.email}}</td>
         <td>{{row.promotion}}</td>
         <td>{{row.promotion_code}}</td>
      </tr>
	{% endfor %}
   </table>
</div>
<div class="list-pagination">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page=1" class="paginate-first">&laquo; first</a>
            <a href="?page={{ contacts.previous_page_number }}" class="paginate-previous">&lsaquo; previous</a>
        {% endif %}

        <span class="current">
            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}
            <a href="?page={{ contacts.next_page_number }}" class="next">next &rsaquo;</a>
            <a href="?page={{ contacts.paginator.num_pages }}" class="last">last &raquo;</a>
        {% endif %}
    </span>
</div>