<!DOCTYPE html>
<html lang="en">

<head>
<title>Email Verification</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
<style type="text/css">
    /* CLIENT-SPECIFIC STYLES */
    @import url('https://fonts.googleapis.com/css?family=Montserrat');
    body, table, td, a{-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;} /* Prevent WebKit and Windows mobile changing default text sizes */
    table, td{mso-table-lspace: 0pt; mso-table-rspace: 0pt;} /* Remove spacing between tables in Outlook 2007 and up */
    img{-ms-interpolation-mode: bicubic;} /* Allow smoother rendering of resized image in Internet Explorer */

    /* RESET STYLES */


    /* iOS BLUE LINKS */
    a[x-apple-data-detectors] {
        color: inherit !important;
        text-decoration: none !important;
        font-size: inherit !important;
        font-family: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
    }

.message-body {
  display:block;
  font-family:'Open Sans', sans-serif !important;
  font-size: 16px;
  line-height: 1.3em;
  overflow: hidden;
  background-color: #fff;
  color:black;
  padding:3%;
  margin: 0px auto 30px auto;
  width: 95%;
}
#mail_header_logo{
  display:block;
  margin:0px auto 50px auto;
}

</style>
</head>
<body>
<div class="message-body">
      <img src="https://s3-us-west-2.amazonaws.com/staticbrainwaves/brainwaves/images/BrainWaves_BannerLogo2blue.png" alt="Logo alt" id="mail_header_logo">
    <p>Dear {{name}},</p>

      <p>I am sending this to inform you that we currently have flash sale price of <strong>$11.99</strong> for our <strong>BrainWaves Tactical Vest</strong> for Nerf Blasters.  This promotion will end soon!</p>

      <p>You can find this offer us on Amazon by following <a href="https://www.amazon.com/s/ref=nb_sb_noss?url=me%3DA26M9XSB01ZEKX&field-keywords=nerf+tactical+vest">this link</a></p>

      
      <p>Hope you enjoy!</p>
      <p>Sincerely,</p>
      <p>Jennifer,<br>
      BrainWaves Toys</p>
 
   </div>
</body>
</html>
