{% extends 'base.html' %}

{% load static %}

{% block content %}
<head>
<meta charset="utf-8">
</head>
  <section id="stuck_container">
    <div class="container">
      <div class="row">
        <div class="grid_12">
        <div id="banner_logo">
          <a href="{% url 'home' %}">
            <img src="{% static 'brainwaves/images/BrainWaves_BannerLogo2blue.png' %}" alt="Logo alt" id="header_logo">
          </a>
        </div>  
          <div class="navigation">
            <nav>
               <ul class="sf-menu">
               <li class="current"><a href="{% url 'home' %}">Home</a></li>
               <li><a href="{% url 'contacts' %}">Contacts</a></li>
               <li><a href="{% url 'messaging' %}">Messaging</a></li>
               <li><a href="{% url 'files' %}">Files</a></li>
               <li><a href="{% url 'upload' %}">Upload</a></li>
               <li><a href="{% url 'add-contacts' %}">Add Contacts</a></li>
             </ul>
            </nav>        
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </section> 
  <div class="upload-form-container">
  <form id="upload-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">UPLOAD</button>
   {% if uploaded_file_name %}
    <p>File uploaded: {{uploaded_file_name}}</p>
  {% endif %}
  </form>
</div>
<script type="text/javascript">
	$('#header-center p').text('Upload Files');
</script>
{% endblock %}