{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}{% endblock %}</title>
<meta charset="utf-8">
<link rel="icon" href="{% static 'brainwaves/images/flavicon.ico' %}">
<link rel="shortcut icon" href="" />
<link rel="stylesheet" href="{% static 'brainwaves/css/style.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<script src="{% static 'brainwaves/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'brainwaves/js/jquery-migrate-1.1.1.js' %}"></script>
<script src="{% static 'brainwaves/js/tmStickUp.js' %}"></script>
<script type="text/javascript" src="{% static 'brainwaves/js/brainwaves_main_js.js' %}"></script>
</head>
<script>
 $(document).ready(function(){

  $('#stuck_container').tmStickUp({});

  }); 
</script>
<body class="page1" id="top">
<!--==============================
              header
=================================-->
<header>
  <div id="top-border"></div>
  <div id="header-main">
    <div id="header-left">
      <p>Shop Now on Our <a href="https://www.amazon.com/s/ref=nb_sb_noss?url=me%3DA26M9XSB01ZEKX&field-keywords=nerf+tactical+vest" target="_blank">Amazon.com</a> Store!</p>
    </div>
	<div id="header-center">
      <p></p>
    </div>
    <div id="header-right">
      <p>Find us on facebook.</p>
      <a href="https://business.facebook.com/BrainWavesToys/" class="fa fa-facebook" target="_blank"></a>
    </div>
  </div>
  </header>  
        {% block content %}
        {% endblock %}

<!--==============================
              footer
=================================-->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="grid_12">  
        <div class="socials">
          <a href="https://business.facebook.com/BrainWavesToys/" class="fa fa-facebook" target="_blank"></a>
        </div>
        <div class="copyright"><span class="brand">BrainWaves Toys</span> &copy; <span id="copyright-year">2017</span>
        </div>
      </div>
    </div>
  </div> 
</footer> 

<script src=" https://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.
cookie.min.js "></script>
<script>
var csrftoken = $.cookie('csrftoken');
function csrfSafeMethod(method) {
// these HTTP methods do not require CSRF protection
return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
beforeSend: function(xhr, settings) {
if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
xhr.setRequestHeader("X-CSRFToken", csrftoken);
}
}
});
$(document).ready(function(){
{% block domready %}
{% endblock %}
});
</script>
</body>
</html>
