{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Home{% endblock %}
{% block content %}
<!--==============================
            Stuck menu
=================================-->
  <section id="stuck_container">
    <div class="container">
      <div class="row">
        <div class="grid_12">
        <div id="banner_logo">
          <a href="{% url 'home' %}">
            <img src="{% static 'brainwaves/images/BrainWaves_BannerLogo2blue.png' %}" alt="Logo alt" id="header_logo">
          </a>
        </div>  
          <div class="navigation">
            <nav>
               <ul class="sf-menu">
               <li class="current"><a href="">Home</a></li>
               <li><a href="https://www.amazon.com/s/ref=nb_sb_noss?url=me%3DA26M9XSB01ZEKX&field-keywords=nerf+tactical+vest">Shop</a></li>
              {% if request.user.is_superuser %}
              <li><a href="{% url 'contacts' %}">Admin</a></li>
              {% endif %}
             </ul>
            </nav>        
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </section> 
      

<!--=====================
          Content
======================-->
<section class="content">
  <div class="container">
    <div class="block">
      <div class="image1">
        <img src="{% static 'brainwaves/images/vest+kit+11.jpg' %}">
      </div>

    </div>
    <div class="block">
      <div class="intro-text">
        <h1>Welcome to BrainWaves Toys!</h1>
        <p>At BrainWaves Toys, our mission is to provide toys and games that give children both mental and physical activities that stimulate health and creativity.</p>  

        <p>As parents, we know how difficult it is to find ways to stimulate our children physically and mentally and provide balance to the passive engagement of smart phones and tablets.  We strive to develop toys that are engaging and help children to develop their intellect and their phycical fitness in ways that are fun and exciting.</p>

      <p>Playing is learning and learning is fun!</p>
      </div>
    </div>

  </div>
</section>

{% endblock %} 
