{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Promo</title>
<meta charset="utf-8">
<link rel="icon" href="{% static 'brainwaves/images/flavicon.ico' %}">
<link rel="stylesheet" href="{% static 'brainwaves/css/ad-style.css' %}">
<script src="{% static 'brainwaves/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'brainwaves/js/jquery-migrate-1.1.1.js' %}"></script>
<meta name="viewport" content="width=device-width" />
</head>
<script src=" https://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.
cookie.min.js "></script>
<body class="page1">
	<script>
        var csrftoken = $.cookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
 </script>
<div class="container">
<div class="main-content">
	<div class = "product-display">
		<section class="column">
			<img src="{% static 'brainwaves/images/vest+kit+1.jpg' %}">
			<div class="prod-desc">
				<h1>COMPLETE KIT</h1>
				<h2>BrainWaves
				Tactical Vest Kit for the Nerf 
				N-Strike Elite Series</h2>
			</div>
		</section>
		<section class="column">
			<img src="{% static 'brainwaves/images/vest+kit+2.jpg' %}">
			<img src="{% static 'brainwaves/images/vest+kit+6.jpg' %}">
			<div class="prod-desc">
				<h2>20 Refill Darts
				(10 Glow-in-the-dark)
				2 Reload Clips</h2>
			</div>
		</section>
		<section class="column">
			<img src="{% static 'brainwaves/images/vest+kit+5.jpg' %}">
			<img src="{% static 'brainwaves/images/vest+kit+4.jpg' %}">
			<div class="prod-desc">
				<h2>Safety Glasses and Tube Mask</h2>
			</div>
		</section>
		<section class="column">
			<img src="{% static 'brainwaves/images/vest+kit+3.jpg' %}">
			<div class="prod-desc">
				<h2>Wrist Ammo Holder</h2>
			</div>
		</section>
	</div>
	<div class="promo-pitch">
		<p>As A Special Holiday Promotion, <span class="blue-text"> BrainWaves Toys</span> Is Offering <span class="blue-text">The First 50 Tactical Vest Kits For 30% OFF.</span></p>

		<p>As A New Company, We Really Depend On Customer Reviews, <span class="blue-text">So We Ask That You Help Us Out By Giving A Review On Amazon.Com After You Receive Your Product.</span></p>

 		<p>Supplies Won't Last Long...</p>
	</div>1
	<div class="customer-info">
		<section class="left-div">
			<img src="{% static 'brainwaves/images/BrainWaves_BannerLogo2blue.png' %}" alt="Logo alt" id="bottom-logo">
		</section>
		<section class ="right-div">
			<div id="action-call">
			<p>Add your email address here to unlock your Amazon.com coupon code to get 
				the complete BrainWaves Tactical 
				Vest Kit for 30% OFF
			</p>
			</div>
			<div id="input">
				<form class="promo-form" method="post" action="success/">
					{% csrf_token %}
  					<input type="text" name="firstname" placeholder="First name" required>
  					<input type="text" name="lastname" placeholder="Last name" required><br>
  					<input type="email" name="email" placeholder="Your email address here..." required><br>
  					<p>***we will not span, sell, or rent your information***</p>
  					<input type="submit" value="Click for your coupon code" id="promo-submit">
				</form>
			</div>
		</section>
	</div>
</div>
</div>
<div class="footer">
	<div class="footer-container">
    <div class="row">
      <div class="grid_12">  
        <div class="copyright"><span class="brand">BrainWaves Toys</span> &copy;<span id="copyright-year"> 2017</span>
        </div>
      </div>
    </div>
  </div> 
</div>
</body>
</html>
