{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>BrainWaves</title>
<meta charset="utf-8">
<link rel="icon" href="{% static 'brainwaves/images/flavicon.ico' %}">
<link rel="stylesheet" href="{% static 'brainwaves/css/success-style.css' %}">
</head>

<body class="page1">
<div class="header">
	<img src="{% static 'brainwaves/images/BrainWaves_BannerLogo2blue.png' %}" alt="Logo alt" id="bottom-logo">
</div>
<div class="success-banner">
	<section class="promo-code">
		<div class="lead">
			<p>Here's Your Coupon Code:</p>
			<p id="coupon-code">{{code}}<span class="red">{{message}}</span></p>
		</div>
		<div class="promo-body">
			<p>If you appreciate this offer, <span class="red">please remember to give us a review at Amazon.com</span> after your vest has arrived.</p>
			<span class="bold"><p>Only 50 vests are available at this offer, so act now, they won't last long!</p></span>
		</div>
		<div class="check-img">
			<img src="{% static 'brainwaves/images/check.png' %}" alt="Logo alt" id="check-image">
		</div>
	
	<section class="action-steps">
		<div class="step">
			<h1>Step #1</h1>
			<p>Go to the product page on Amazon.com:</p>
			<p>
			<a href="https://www.amazon.com/s/ref=nb_sb_noss?url=me%3DA26M9XSB01ZEKX&field-keywords=nerf+tactical+vest" target="_blank">BrainWaves Nerf Tactical Vest</a>
			</p>
		</div>
		<div class="step">
			<h1>Step #2</h1>
			<p>On checkout, add your coupon code.</p>
		</div>
		<div class="step">
			<h1>Step #3</h1>
			<p>Leave us a review of your opinions of the BrainWaves Nerf Tactical Vest on Amazon.com!
			</p>
		</div>
	</section>
	</section>
</br>
</div>




	<div class="footer">
	<div class="footer-container">
    <div class="row">
      <div class="grid_12">  
        <div class="copyright"><span class="brand">BrainWaves Toys</span> &copy;<span id="copyright-year"> 2017</span>
        </div>
      </div>
    </div>
  </div> 
</div>
</body>
</html>